[Desktop Entry]
Encoding=UTF-8
Name=nvclock
Comment=nvidia overclock utility
Comment[pl]=Narzędzie do podkręcania kart nvidii
Icon=nvclock.png
Exec=nvclock_gtk
Terminal=false
Type=Application
Categories=Application;System;Settings;HardwareSettings;
# vi: encoding=utf-8
