[Desktop Entry]
Name=nvclock
Comment=nvidia overclock utility
Comment[pl]=Narzêdzie do podkrêcania kart nvidii
Icon=nvclock.png
Exec=nvclock_gtk
Terminal=0
Type=Application
